<div class="space-y-4">
  <h2 class="text-xl font-semibold text-gray-800">
    Elements
  </h2>

  <div cdkDropList #libraryList="cdkDropList" [cdkDropListData]="fieldTypes" class="grid grid-cols-1 gap-3">
    <div *ngFor="let field of fieldTypes" cdkDrag [cdkDragData]="field"
      class="p-3 border border-gray-200 rounded-lg bg-white hover:bg-gray-50 transition cursor-move">
      <div class="flex items-center gap-2">
        <span class="material-icons-outlined text-gray-600">{{ field.icon}}</span>
        <span class="text-sm font-medium text-gray-700">{{field.name}}</span>
      </div>
    </div>
  </div>
</div>
